<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
    <script type="text/javascript" src="../static/js/modal.js" th:src="@{/js/modal.js}"></script>
    <script type="text/javascript" src="../static/js/page.js" th:src="@{/js/page.js}"></script>
    <title>Admin Page</title>

    <style>
        html {
            font-size: 14px;
        }
        .i1 {
            margin-top: -5px;
            margin-bottom: -15px;
        }
    </style>
</head>
<body>
<!-- Header -->
<nav class="navbar navbar-dark sticky-top bg-dark" style="height: 45px">
    <p id="header-info" class="navbar-brand"></p>
    <a class="navbar-brand mb-3" href="/logout">Logout</a>
</nav>

<div class="admin-panel mt-3">
    <div class="row">
        <!-- Menu -->
        <div class="menu col-md-3">
            <nav class="nav flex-column">
                <a id="adminBtn" class="nav-link active btn btn-lg btn-primary btn-block text-left">Admin</a>
                <a id="adminInfoBtn" class="nav-link mt-2 btn btn-lg text-primary btn-block text-left">User</a>
            </nav>
        </div>

        <!-- Panel-->
        <div id="panelDiv"  class="panel col-md-9">

            <!-- Admin panel -->
            <div id="admin-panel">
                <h2 class="mb-3">Admin panel</h2>

                <div id="adminCrudPage" class="container">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#usersTable" data-toggle="tab">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#newUser" data-toggle="tab">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content mt-3">
                        <!-- Users Table -->
                        <div class="tab-pane active" id="usersTable">
                            <h4>All users</h4>

                            <table class="table table-striped" id="myTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                            </table>

                        </div>

                        <!-- New User -->
                        <div class="tab-pane" id="newUser">
                            <h4>Add new user</h4>

                            <form id="myForm"
                                  class="form-signin col-md-4 offset-md-4 text-center font-weight-bold">
                                <label>First name</label>
                                <input type="text" id="firstName" name="firstName" class="form-control" placeholder="First name"
                                       required="" autofocus="">

                                <label>Last name</label>
                                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" required=""
                                       autofocus="">

                                <label>Age</label>
                                <input type="number" id="age" name="age" class="form-control" placeholder="Age" required=""
                                       autofocus="">

                                <label>Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                                       required="" autofocus="">

                                <label>Password</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                                       required="">

                                <label>Role</label>
                                <select multiple class="form-control roles" style="height: 55px" id="role" name="role">
                                    <option>ADMIN</option>
                                    <option>USER</option>
                                </select>
                                <input class="btn mt-2 btn-lg btn-success btn-block" type="submit" value="Add new user"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Admin information panel-->
            <div id="admin-info-panel">

                <h2 class="mb-3">User information-page</h2>

                <div id="adminInfoCrudPage" class="container">
                    <div class="tab-content mt-3">
                        <!-- Users Table -->
                        <div class="tab-pane active">
                            <h4>About user</h4>

                            <table class="table table-striped" id="adminInfoTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<!-- Edit modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
     aria-hidden="true">
    <form id="editForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit page</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-signin col-md-6 offset-md-3 text-center font-weight-bold"
                     style="font-size: 13px">
                    <form>
                        <input type="hidden" id="hiddenId" name="idEdit" value="">
                        <div class="form-group">
                            <label for="idEdit" class="col-form-label">ID</label>
                            <input type="number" disabled class="form-control i1" id="idEdit" name="idEdit" value="">
                        </div>
                        <div class="form-group">
                            <label for="firstNameEdit" class="col-form-label">First name</label>
                            <input type="text" class="form-control i1" id="firstNameEdit" name="firstNameEdit" value="">
                        </div>
                        <div class="form-group">
                            <label for="lastNameEdit" class="col-form-label">Last name</label>
                            <input type="text" class="form-control i1" id="lastNameEdit" name="lastNameEdit" value="">
                        </div>
                        <div class="form-group">
                            <label for="ageEdit" class="col-form-label">Age</label>
                            <input type="number" class="form-control i1" id="ageEdit" name="ageEdit" value="">
                        </div>
                        <div class="form-group">
                            <label for="emailEdit" class="col-form-label">Email</label>
                            <input type="email" class="form-control i1" id="emailEdit" name="emailEdit" value="">
                        </div>
                        <div class="form-group">
                            <label for="passwordEdit" class="col-form-label">Password</label>
                            <input type="hidden" id="passwordHiddenEdit">
                            <input type="password" class="form-control i1" id="passwordEdit" name="passwordEdit">
                        </div>
                        <div class="form-group">
                            <label for="roleEdit" class="col-form-label">Role</label>
                            <select multiple class="form-control" style="height: 55px" id="roleEdit" name="roleEdit">
                                <option>ADMIN</option>
                                <option>USER</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Edit"/>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Delete modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel1"
     aria-hidden="true">
    <form id="deleteForm">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Edit page</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body form-signin col-md-6 offset-md-3 text-center font-weight-bold"
                     style="font-size: 13px">
                    <form>
                        <input type="hidden" id="hiddendeleteId" name="idDelete" value="">
                        <div class="form-group">
                            <label for="idDelete" class="col-form-label">ID</label>
                            <input type="number" disabled class="form-control i1" id="idDelete" name="idDelete"
                                   value="">
                        </div>
                        <div class="form-group">
                            <label for="firstNameDelete" class="col-form-label">First name</label>
                            <input type="text" disabled class="form-control i1" id="firstNameDelete"
                                   name="firstNameDelete" value="">
                        </div>
                        <div class="form-group">
                            <label for="lastNameDelete" class="col-form-label">Last name</label>
                            <input type="text" disabled class="form-control i1" id="lastNameDelete"
                                   name="lastNameDelete" value="">
                        </div>
                        <div class="form-group">
                            <label for="ageDelete" class="col-form-label">Age</label>
                            <input type="number" disabled class="form-control i1" id="ageDelete" name="ageDelete"
                                   value="">
                        </div>
                        <div class="form-group">
                            <label for="emailDelete" class="col-form-label">Email</label>
                            <input type="email" disabled class="form-control i1" id="emailDelete" name="emailDelete"
                                   value="">
                        </div>
                        <div class="form-group">
                            <label for="roleDelete" class="col-form-label">Role</label>
                            <select multiple disabled class="form-control" style="height: 55px" id="roleDelete"
                                    name="roleDelete">
                                <option>ADMIN</option>
                                <option>USER</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-danger" value="Delete"/>
                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>